[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Squeeze
GenericName=Image Resizer
GenericName[pl]=Skalowanie obrazów
Comment=Batch Image Resizer
Comment[pl]=Wsadowe skalowanie obrazów
Exec=squeeze
Icon=squeeze
Terminal=false
Categories=Graphics;Qt;
